body{
    background-image: url("../img/fondo.png");
    background-size: 120%;
    background-repeat: no-repeat;
}

#estats{
    color: white;
    float: auto;
}

#flexo{
    float: left;
    flex-direction: column;
    text-align: center;	
    background-color:#224e2b;
    opacity: 1;
    min-height: 120vh;
    color: white;
}
#flexo img{
    width: 80px;
    height: 70px;
}

.pepe{
    display: flex;
    flex-direction: row;
}

div .pope{
    /*width: 60px;
    height: 50px;*/
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: #31e240;
}
#tablero{
    display: flex;
    align-items: center;
    justify-content: center;
}
#tau{
    margin-top: 10vh;
}
table{
    margin: 0 auto;
}