body{
    background-image: url("../img/fondo.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#estats{
    color: white;
    float: auto;
}

#flexo{
    float: left;
    flex-direction: column;
    text-align: center;	
    background-color:#224e2b;
    min-height: 97vh;
}
.pepe{
    display: flex;
    flex-direction: row;
}

div .pope{
    /*width: 60px;
    height: 50px;*/
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    background-color: #31e240;
}

/* div.papa{
    width: 50px;
    height: 50px;
    background-image: url("../img/vida.png");
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid black;
} */

#tau{
    position: relative;
    top: 100px;
    left: 240px;
    display: block;
}